html, body
  height: 400px
  overflow: hidden


#wrap
  &::after
    content: ''
    display: table
    clear: both
  .item
    visibility: hidden
    float: left
    width: 60px
    height: 60px
    border: 1px solid green
    font-size: 40px
    &:nth-child(4n+1)
      clear: left
